@{
    ViewBag.Title = "Home Page";
}
<style>
    h2 {
        margin-bottom: 20px;
    }
</style>
<div class="row">
  
    <h2>Pie Charts</h2>
    <div class="col-md-12" id="pieCharts"></div>
 
</div>
@section scripts{
    <script src="~/Scripts/Charts.js"></script>
}